{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enter points</h1>
    {{ form_start(pointsForm) }}
    {{ form_widget(pointsForm) }}
    {{ form_end(pointsForm) }}
    <br>
    <br>
    <a href="{{ path('app_doko_showpoints') }}">Show points of all players</a>
    <br>
    <a href="{{ path('app_doko_addbockrounds') }}">Add new Bock rounds</a>
    <br>
    <a href="{{ path('app_doko_index') }}">Back to homepage</a>
{% endblock %}
