{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enter points</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>
    <br>
    <a href="{{ path('app_doko_showpoints') }}">Show points of all players</a>
    <br>
    <a href="{{ path('app_doko_index') }}">Back to homepage</a>
{% endblock %}
