{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enter points</h1>
    {{ form_start(pointsForm) }}
    {{ form_widget(pointsForm) }}
    {{ form_end(pointsForm) }}
    <br>
    <div class="btn-group-lg">
        <a href="{{ path('app_doko_showscoreboard') }}" class="btn btn-default">Show scoreboard</a>
        <a href="{{ path('app_doko_index') }}" class="btn btn-default">Back to homepage</a>
    </div>
{% endblock %}
