{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ player.name }}</h1>
    <div class="h3">
        Played rounds: {{ rounds.getTotalItemCount }}
    </div>
    {% if winLossRatio %}
        <h4>Win:Loss Ratio: {{ winLossRatio.wins }}:{{ winLossRatio.loss }}</h4>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-center">{{ knp_pagination_sortable(rounds, 'Round #', 'round.id') }}</th>
                {% for i in 1..4 %}
                    <th class="text-center">Player {{ i }}</th>
                {% endfor %}
                <th class="text-center">{{ knp_pagination_sortable(rounds, 'Points', 'round.points') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for round in rounds %}
                <tr>
                    <td>{{ round.id }}) {{ round.creationDate | date("d.m.Y -- H:i") }} Uhr</td>
                    {% for participant in round.participants %}
                        <td class="{% if participant.points > 0 %}success{% else %}danger{% endif %}">
                            {% if participant.player.name == player.name %}
                                <strong>{{ participant.player.name }}</strong>
                            {% else %}
                                {{ participant.player.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {{ round.points }}
                        {% if round.bock %}
                            <strong>B</strong> {{ round.points * 2 }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ knp_pagination_render(rounds) }}
    </div>
    <div>
        {% if longestWinStreak %}
            <h4>Longest Win Streak: {{ longestWinStreak }}</h4>
        {% endif %}
        {% if longestLosingStreak %}
            <h4>Longest Losing Streak: {{ longestLosingStreak }}</h4>
        {% endif %}
    </div>
    <div>
        <h2>Best Partners</h2>
        <ul class="list-group">
            {% for partner in partners %}
                <li class="list-group-item">{{ loop.index }}. {{ partner.name }} with {{ partner.points }} points</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('app_doko_showscoreboard') }}" class="btn btn-primary">Show scoreboard</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('app_doko_index') }}" class="btn btn-default">Back to homepage</a>
    </div>
{% endblock %}
