{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ player.name }}</h1>
    <div class="h3">
        Played rounds: {{ rounds|length }}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-center">Round #</th>
                <th class="text-center">Player 1</th>
                <th class="text-center">Player 2</th>
                <th class="text-center">Player 3</th>
                <th class="text-center">Player 4</th>
                <th class="text-center">Points</th>
            </tr>
            </thead>
            <tbody>
            {% for round in rounds %}
                <tr>
                    <td>{{ round.id }}) {{ round.creationDate | date("d.m.Y -- H:i") }} Uhr</td>
                    {% for participant in round.participants %}
                        <td class="{% if participant.points > 0 %}success{% else %}danger{% endif %}">
                            {% if participant.player.name == player.name %}
                                <strong>{{ participant.player.name }}</strong>
                            {% else %}
                                {{ participant.player.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>{{ round.points }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Best Partners</h2>
        <ul class="list-group">
            {% for partner in partners %}
                <li class="list-group-item">{{ loop.index }}. {{ partner.name }} with {{ partner.points }} points</li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group-lg">
        <a href="{{ path('app_doko_showscoreboard') }}" class="btn btn-primary">Show scoreboard</a>
    </div>
    <br>
    <div class="btn-group-lg">
        <a href="{{ path('app_doko_index') }}" class="btn btn-default">Back to homepage</a>
    </div>
{% endblock %}
