{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scoreboard</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-center">{{ knp_pagination_sortable(rounds, '#', 'round.id', {'defaultDirection' : 'DESC'}) }}</th>
                <th class="text-center">Player</th>
                <th class="text-center">Total</th>
                {% for round in rounds %}
                    <th class="text-center">
                        {{ round.id }}.
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for position, player in players %}
                <tr>
                    <td>
                        {{ position + 1 }}
                    </td>
                    <td>
                        <a href="{{ path('app_doko_getplayerstats', {playerId: player.id}) }}">
                            <strong>{{ player.name }}</strong>
                        </a>
                    </td>
                    <td>
                        <strong>{{ player.points }}</strong>
                    </td>
                    {% for round in rounds %}
                        {% set found = false %}
                        {% for participant in round.participants %}
                            {% if player.id == participant.player.id %}
                                <td>{{ participant.points }}</td>
                                {% set found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not found %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3" class="text-center">{{ knp_pagination_sortable(rounds, 'Points', 'round.points', {'defaultDirection' : 'DESC'}) }}</th>
                {% for round in rounds %}
                    <td class="text-center">
                        {{ round.points }}
                        {% if round.bock %}
                            <strong>B</strong> {{ round.points * 2 }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>
    <div>
        {{ knp_pagination_render(rounds) }}
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('app_doko_enterpoints') }}" class="btn btn-primary">Enter points</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('app_doko_index') }}" class="btn btn-default">Back to homepage</a>
    </div>
{% endblock %}
