{% extends 'base.html.twig' %}

{% block body %}
    <h1>Current points of all players</h1>

    <table>
        <tr>
            <td  style="border: 1px solid; padding: 10px;"><b>Name</b></td>
            {% for player in players %}
                <td  style="border: 1px solid; padding: 10px;">{{ player.name }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td  style="border: 1px solid; padding: 10px;"><b>Points</b></td>
            {% for player in players %}
                <td  style="border: 1px solid; padding: 10px;">{{ player.points }}</td>
            {% endfor %}
        </tr>
    </table>
    <br>
    <br>
    <a href="{{ path('app_doko_enterpoints') }}">Enter points</a>
    <br>
    <a href="{{ path('app_doko_addbockrounds') }}">Add new Bock rounds</a>
    <br>
    <a href="{{ path('app_doko_index') }}">Back to homepage</a>
{% endblock %}
