{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'title'|trans({}, 'enter_points') }}</h1>
    {{ form_start(pointsForm, {'attr': {'class': 'form-horizontal form-group'}}) }}
    {% if not pointsForm.vars.valid %}
        <div class="form-group">
            <div class="btn-danger col-xs-12">
                {{ form_errors(pointsForm) }}
                {{ form_errors(pointsForm.points) }}
            </div>
        </div>
    {% endif %}
    <div class="form-group enter-points--label-line-height">
        {{ form_label(pointsForm.points, 'points'|trans({}, 'enter_points'), {'label_attr': {'class': 'col-xs-6 control-label'}}) }}
        <div class="col-xs-6">
            {{ form_widget(pointsForm.points, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group enter-points--label-line-height">
        {{ form_label(pointsForm.bockRound, 'bock'|trans({}, 'enter_points'), {'label_attr': {'class': 'col-xs-6 control-label'}}) }}
        <div class="col-xs-6">
            {{ form_widget(pointsForm.bockRound, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <strong>{{ 'players'|trans({}, 'enter_points') }}</strong>
        </div>
        <div class="col-xs-6">
            <strong>{{ 'win'|trans({}, 'enter_points') }}</strong>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 enter-points--label-padding-top7">
            {{ form_widget(pointsForm.player1, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_widget(pointsForm.player1win, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 enter-points--label-padding-top7">
            {{ form_widget(pointsForm.player2, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_widget(pointsForm.player2win, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 enter-points--label-padding-top7">
            {{ form_widget(pointsForm.player3, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_widget(pointsForm.player3win, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 enter-points--label-padding-top7">
            {{ form_widget(pointsForm.player4, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_widget(pointsForm.player4win, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_widget(pointsForm.saveAndNew, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(pointsForm.save, {'attr': {'class': 'btn btn-lg btn-default'}}) }}
    </div>
    {{ form_end(pointsForm) }}
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_showscoreboard') }}" class="btn btn-default">{{ 'scoreboard'|trans({}, 'buttons') }}</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_index') }}" class="btn btn-default">{{ 'homepage'|trans({}, 'buttons') }}</a>
    </div>
{% endblock %}
