{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ 'title'|trans({}, 'index') }}</h1>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_showscoreboard') }}" class="btn btn-primary">{{ 'scoreboard'|trans({}, 'buttons') }}</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_enterpoints') }}" class="btn btn-primary">{{ 'enter_points'|trans({}, 'buttons') }}</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_player_createplayer') }}" class="btn btn-default">{{ 'new_player'|trans({}, 'index') }}</a>
    </div>
{% endblock %}
