{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ player.name }}</h1>
    <div class="h3">
        {{ 'played_rounds'|trans({}, 'player_stats') }} {{ rounds.getTotalItemCount }}
    </div>
    {% if winLossRatio %}
        <h4>{{ 'win_loss'|trans({}, 'player_stats') }} {{ winLossRatio.wins }}:{{ winLossRatio.loss }}</h4>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th class="text-center">{{ knp_pagination_sortable(rounds, 'round_column_header'|trans({}, 'player_stats'), 'round.id') }}</th>
                {% for i in 1..4 %}
                    <th class="text-center">{{ 'player_column_header'|trans({}, 'player_stats') }} {{ i }}</th>
                {% endfor %}
                <th class="text-center">{{ knp_pagination_sortable(rounds, 'points_column_header'|trans({}, 'player_stats'), 'round.points') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for round in rounds %}
                <tr>
                    <td>{{ round.id }}) {{ round.creationDate | date("d.m.Y -- H:i") }} Uhr</td>
                    {% for participant in round.participants %}
                        <td class="{% if participant.points > 0 %}success{% else %}danger{% endif %}">
                            {% if participant.player.name == player.name %}
                                <strong>{{ participant.player.name }}</strong>
                            {% else %}
                                {{ participant.player.name }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {{ round.points }}
                        {% if round.bock %}
                            <strong>B</strong> {{ round.points * 2 }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ knp_pagination_render(rounds) }}
    </div>
    <div>
        {% if longestWinStreak %}
            <h4>{{ 'longest_win_streak_label'|trans({}, 'player_stats') }} {{ longestWinStreak }}</h4>
        {% endif %}
        {% if longestLosingStreak %}
            <h4>{{ 'longest_losing_streak_label'|trans({}, 'player_stats') }} {{ longestLosingStreak }}</h4>
        {% endif %}
    </div>
    <div>
        <h2>{{ 'best_partners_title'|trans({}, 'player_stats') }}</h2>
        <ul class="list-group">
            {% for partner in partners %}
                <li class="list-group-item">{{ loop.index }}. {% trans with {'%name%': partner.name, '%points%': partner.points} from 'player_stats' %}best_partners_row{% endtrans %}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_showscoreboard') }}" class="btn btn-primary">Show scoreboard</a>
    </div>
    <div class="form-group btn-group-lg">
        <a href="{{ path('mitelg_dokoapp_doko_index') }}" class="btn btn-default">Back to homepage</a>
    </div>
{% endblock %}
